body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Rubik';
}

p,
h4,
h5,
h6,
span {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    font-family: 'Roboto';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header start */
.navigation-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.header-links {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: var(--color-darkgray);
    transition: 0.4s ease;
}

.header-links:hover {

    filter: brightness(0) saturate(100%) invert(8%) sepia(76%) saturate(7464%) hue-rotate(11deg) brightness(110%) contrast(118%);
}

.header-user-links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icons {
    position: relative;
    top: 2px;
    margin: 0px 2px;
    transition: 0.4s ease;
}

.default-btn {
    background-color: white;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    height: 45px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

.login-btn a {
    color: #333;
    text-decoration: none;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 130px;

}

.login-btn:hover {
    border: 1px solid rgb(116, 116, 116);
}

.signup-btn {
    border: none;
    background-color: #ce0000;
    color: white;
    transition: 0.3s ease;
    text-decoration: none;
    font-family: 'Roboto';

}

.signup-btn:hover {
    background-color: #333;
}

.user-icon {
    position: relative;
    left: 8px;
    top: -1px;
}

/* header-end */

/* network-section start */
.advance-network-section {
    background-image: url(/images/background-image.webp);
}

.advance-network-parent {
    display: flex;
    align-items: center;

}

.advance-network-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 60px;
}

.common-heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 110%;
    color: #f5f5f5;
    letter-spacing: 0.4px;
}

.network-small-heading {
    font-size: 32px;
}

.network-image img {
    width: 100%;
}

.common-btn {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.glowing-btn {
    background-color: #fff;
    border-radius: 4px;
}

.glowing-btn svg {
    position: relative;
    left: 7px;
}

.glowing-btn a {
    color: #333;
    height: 45px;
    width: 180px;
    transition: all 0.3s ease;

}

.glowing-btn a:hover {
    box-shadow: 0 20px 40px 10px rgba(255, 69, 0, 0.8);
    color: #ce0000;


}

/* network-section end */

/* .network-ad-section start */
.network-ad-parent {
    display: flex;
    align-items: center;
    padding: 50px 0px;
}

.network-ad-logos {
    display: flex;
    align-items: center;
}

.network-ad-logos span {
    color: #989898;
    font-size: 16px;
    font-weight: 400;
    padding: 0 1rem;

}

/* .network-ad-section end */


.adsterra-benefits-section {
    background-color: #efefef;

}

.benefits-heading {
    color: #333;
    font-size: 44px;
    text-align: center;
    font-weight: 500;
}

.benefits-heading span {
    color:
        rgb(206, 0, 0);
    font-family: 'Rubik';
}

.benefits-description {
    padding-top: 80px;
    padding-bottom: 48px;
}

.adsterra-benefits-parent {
    display: flex;
    padding: 0px 90px;
    gap: 15px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.adsterra-benefits-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 43%;
}

.adsterra-benefits-description img {
    width: 115px;
}

.adsterra-benefits-btn a {
    width: 180px;
    height: 45px;
    background-color: #333;
}

.adsterra-benefits-btn a:hover {
    background-color: #ce0000;
}

.adsterra-benefits-btn img {
    width: 24px;
}

.common-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
}

.advertiser-description {
    gap: 10px;
}

.growth-area-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 80px 0px;

}

.growth-area-description h1 {
    color: #333;
    font-size: 44px;
    padding-bottom: 50px;
}

.growth-area-description p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 25px;
}

.growth-area-parent img {
    border-radius: 5px;
}

.growth-area-btn a {
    width: 200px;
    height: 40px;
}

.toggle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.toggle {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    border: 2px solid #747474;
    width: 50%;
}

.toggle-btn {
    flex: 1;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    z-index: 1;
    transition: color 0.3s ease;
    height: 50px;
    cursor: pointer;
}

.toggle-btn.active {
    background-color: #fff;
    color: #000;
    position: relative;
    z-index: 2;
    width: 50%;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popunder-heading {
    padding-top: 35px;
}

.popunder-description-section {
    background-color: #efefef;
}

.popunder-parent {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 100px;
}

.popunder-description h1 {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 10px;
}

.popunder-description p {
    color: #747474;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.popunder-mid-points {
    display: flex;
    gap: 10px;
    align-items: center;
}

.popunder-images {
    width: 25%;
}

.popunder-images img {
    width: 100%;
}

.popunder-description {
    padding-top: 15px;
}

.popunder-mid-points p {
    line-height: 55px;

}

.popunder-links {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 15px;

}

.popunder-links a {
    height: 42px;
    width: 170px;
}

.learn-more-btn a {
    color: #333;
    text-decoration: none;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #f5f5f5;
    transition: 0.3s ease;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    width: 170px !important;
}

.learn-more-btn a:hover {
    border: 1px solid rgb(116, 116, 116);
}

.popunder-links img {
    position: relative;
    left: 7px;
}

.online-ad-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    padding-bottom: 65px;
}

.online-ad-description {
    width: 23%;
}

.online-ad-heading {
    padding-bottom: 48px;
}

.online-ad-image {
    border-radius: 18px;
    display: inline-flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: #ce0000;
    margin-bottom: 25px;
}

.online-ad-description img {
    aspect-ratio: 1 / 1;
    height: 36px;
}

.online-ad-description h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    color: #333;
    padding-bottom: 15px;
}

.online-ad-description p {
    color: #747474;
}

.join-adsterra-parent {
    background-image: url(/images/background.webp);
    margin: 65px 60px 80px 60px;
    border-radius: 24px;
    background-position: 0;
    background-size: cover;
    text-align: center;
}

.join-adsterra-description {
    padding-top: 80px;
}

.join-adsterra-description h1 {
    font-size: 44px;
    font-weight: 500;
    line-height: 110%;
    padding-bottom: 10px;
}

.join-adsterra-description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.join-btn {
    justify-content: center;
    padding-bottom: 80px;
}

.rating-heading {
    padding-top: 60px;
    padding-left: 60px;
}

.rating-heading h1 {
    text-align: unset;
}

.rating-section-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
}

.rating-section-img {
    display: flex;
    align-items: center;
    gap: 25px
}

.rating-description {
    max-width: 40%;
}

.rating-img {
    padding-bottom: 24px;
}

.rating-paragraph {
    padding-bottom: 1rem;
    color: #333;
}

.rating-section-img-heading h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.rating-section-img-heading p {
    font-weight: 300;
    color: #333;
    font-size: 14px;
    line-height: 21px;
}

.adsterra-leadership-section {
    background-color: #efefef;
}

.leadership-programe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    padding-bottom: 3rem;
}

.leadership-heading {
    padding-top: 60px;
}

.supporting-section {
    background-color: #ce0000;
}

.supporting-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0px;
    margin-bottom: 120px;
}

.supporting-parent a {
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    color: #fff;
    border-bottom: 2px solid hsla(0, 0%, 100%, .5);
    padding-bottom: 8px;
    font-family: 'Rubik';
}

.supporting-parent a img {
    padding-left: 10px;
    position: relative;
    top: 10px;
}

.supporting-image {
    display: flex;
    align-items: center;
    gap: 30px;
}

.supporting-image img {
    background-color: #fff;
    border-radius: 10px;
}

.supporting-image img:nth-child(1) {
    padding: 5px 50px;
}

.supporting-image img:nth-child(2) {
    padding: 12px 50px;
}

.supporting-image img:nth-child(3) {
    padding: 12px 45px;
}

.supporting-image img:nth-child(4) {
    padding: 12px 40px;
}


.faq-main-heading {
    padding-bottom: 48px;
}

.faq-parent {
    display: flex;
    background-color: #efefef;
    border-radius: 24px;
    padding: 32px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    margin-bottom: 16px;
}

.faq-description p a {
    text-decoration: underline;
    color: #6202ee;
}

.faq-description p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.faq-heading {
    font-size: 24px;
    text-align: unset;
    padding-bottom: 10px;
}

.scrole-bar {
    position: relative;
    bottom: 23px;
}

.blog-heading {
    padding-top: 120px;
}

.blog-parent {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-bottom: 120px;
}

.blog-description {
    width: 30%;
}

.blog-links {
    margin-bottom: 15px;
}

.blog-links img {
    width: 100%;
    border-radius: 0.375rem;
}

.blog-links img:hover,
.blog-link-heading:hover {
    color: #ce0000;
}

.blog-description span {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #747474;
}

.blog-link-heading {
    font-weight: 500;
    line-height: 120%;
    padding-top: 10px;
    padding-bottom: 25px;
}

.blog-button a {
    display: inline-flex;
    align-items: center;
    color: #ce0000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: 500;
}

.blog-button svg {
    margin-left: 5px;
    transition: transform 0.3s ease;
    position: relative;
    top: 1px;
    left: 3px;
}

.blog-button a:hover svg {
    transform: translateX(5px);
}


/* Footer General */
footer {
    background-color: #efefef;
    padding: 55px 45px;
    color: #333;
    border-radius: 40px 40px 0px 0px;
}

/* Top Section */
.footer-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    width: calc(14% - 10px);
}

.footer-column h4 {
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    color: #747474;
}

.footer-column-links {
    margin-top: 25px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-column ul li {
    font-size: 14px;
    font-family: 'Roboto';
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.footer-column ul li a:hover {
    color: #ce0000;
}

.pricing-models-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}

.footer-link {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.footer-link:hover {
    color: #ce0000;
}

.highlight {
    color: #ff4a4a;
    font-weight: bold;
}

.highlight:hover {
    text-decoration: underline;
}

/* Membership Section */
.membership-section {
    border-top: 1.5px solid #747474;
    border-bottom: 1px solid #747474;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 20px;
}

.membership-logos img {
    margin: 0 10px;
}

/* Bottom Section */


.footer-social {
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: 1.5px solid #747474;
    justify-content: space-between;
    padding-bottom: 15px;
}

.footer-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #747474;
    margin-bottom: 7px;

}

.footer-accounts-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-accounts-links ul,
.footer-social ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.footer-social ul li img {
    width: 100%;
}

.policy-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.policy-links li a {
    font-size: 12px;
    color: #333;
}

.policy-links li a:hover {
    color: #ce0000;
}

.policy-terms span {
    font-weight: 600;
    color: #333;
}


.policy-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.policy-heading {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    font-family: 'Rubik';
}

.policy-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.report-button a {
    color: #333;
}



/* publisher-section start */
.publisher-section {
    background-color: #efefef;
    z-index: 1;
    position: relative;
}

.publisher-container {
    max-width: 1280px;
    margin: 0 auto;
}

.publisher-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    margin-bottom: 40px;
}

.publisher-description {
    max-width: 44%;
    padding-top: 155px;
}

.publisher-description p {
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
    color: #ce0000;
    text-align: unset;
    margin-bottom: 0.5rem;
    font-family: 'Rubik';
}

.publisher-description h1 {
    text-align: unset;
    margin-bottom: 8px;
}

.publisher-description h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: unset;
    margin-bottom: 20px;
}

.publisher-description-image {
    background-image: url(/images/background.c7487da.png);
    width: 51%;
    position: relative;
    z-index: 2;
}

.publisher-ratings {
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.publisher-rating-description {
    padding: 0px 25px;
    max-width: 30%;
}

.publisher-rating-description h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
}

.publisher-rating-description p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.publisher-image {
    padding-top: 20px;
}

.publisher-image img {
    width: 90%;
    float: right;
}

.publisher-btn img {
    width: 25px;
}

.publisher-btn a {
    width: 200px;
}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 120px;
}

.icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    gap: 24px;
}



.icon-card span {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}

.publisher-profit-heading {
    margin-bottom: 48px;
}

.button-group {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 32px 0px;
}

.button-group a {
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    transition: all 0.2s ease;
    opacity: 1;
}

.button-group a:hover {
    background-color: rgba(206, 0, 0, 0.3);
    border-color: #ccc;
    ;
}

.button-group a.active {
    background-color: #ce0000;
    color: #fff;
    border-color: red;
    opacity: 1;
    /* Ensure the active button is fully visible */
}
.publisher-profit-points-section {
    background-color: #efefef;
}
.publisher-profit-parent {
    justify-content: center;
    gap: 20px;
    padding: 80px 0px;
}
.publisher-profit-image {
    width: 35%;
}
.publisher-profit-points {
    max-width: 46%;
    padding: 0px 4px;
}
.publisher-profit-points-heading {
    font-size: 32px;
    padding-bottom: 32px;
    text-align: unset;
}
.publisher-profit-btn .signup-btn {
    width: 250px;
}